# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Power BI temporary files
*.tmp

# OS files
.DS_Store
Thumbs.db
